@model ViewModel;
    <div>
        <h2>@Model.Post.Title</h2>
        <p>@Model.Post.Content</p>
        <p>Posted by: @Model.Post.Author at @Model.Post.CreatedAtAction</p>
        <a asp-controller="blog" asp-action="edit" asp-route-id="@Model.Post.PostId">Edit</a>
        <a asp-controller="blog" asp-action="delete" asp-route-id="@Model.Post.PostId">Delete</a>
        <section>
            <h3>Comments</h3>
            @foreach(var comment in Model.Comments) {
            <div>
                <p>@comment.Content</p>
                <p>Posted by: @comment.Author at @comment.CreatedAtAction</p>
            </div>
            
        }
        <div>
            <!-- <partial name="_CommentForm"/> -->
            @Html.Partial("_CommentForm", Model.CommentModel)
        </div>
        </section>
    </div>
