@model BlogPostList;
<h1>Posts</h1>
<a asp-controller="blog" asp-action="create">Create post</a>
@foreach(var post in Model.BlogPosts) {
    <div>
        <h2>@post.Title</h2>
        <p>@post.Content</p>
        <p>Posted by: @post.AuthorName at @post.CreatedAtAction</p>
        <a asp-controller="blog" asp-action="post" asp-route-id="@post.PostId">Details</a>
        <a asp-controller="blog" asp-action="edit" asp-route-id="@post.PostId">Edit</a>
        <a asp-controller="blog" asp-action="delete" asp-route-id="@post.PostId">Delete</a>
    </div>
}